@use '~@angular/material' as mat;
/* You can add global styles to this file, and also import other style files */




// Include non-theme styles for core.
@include mat.core();

// Define a theme.
$primary: mat.define-palette(mat.$pink-palette);
$accent:  mat.define-palette(mat.$deep-purple-palette, A200, A100, A400);

$theme: mat.define-light-theme($primary, $accent);

// Include all theme styles for the components.
@include mat.all-component-themes($theme);